/*flex order*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana;
    background-color: #eee;
    color: #333;
}

.wrapper {
    width: 100%;
    max-width: 960px;
}

#blocks {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

#blocks div {
    flex: 0 0 100px;
    padding: 40px 0;
    text-align: center;
    background-color: #ccc;
}

.one {
    order: 3;
}

.two {
    order: 2;
}

.three {
    order: 6;
}

.four {
    order: 0;
}