/* flex wrap */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana;
    background-color: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background-color: #fff;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; default */
    /* flex-wrap: no-wrap; */
    flex-wrap: wrap-reverse;
}

.box {
    height: 100px;
    min-width: 200px;
    flex-grow: 1;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}