/* flex shrink */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana;
    background-color: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background-color: #fff;
}

.box {
    height: 100px;
    min-width: 320px;
}

.one {
    background-color: red;
    flex-shrink: 1;
}

.two {
    background-color: blue;
    flex-shrink: 2;
}

.three {
    background-color: green;
    flex-shrink: 6;
}